@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* GERAIS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Rubik";
  background: whitesmoke;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  */
header {
  width: 100vw;
  height: fit-content;

  position: relative;
  cursor: default;
}
h1 {
  font-size: 3em;
  padding: 36px;
}
main {
  width: 100vw;
  height: fit-content;
  padding: 16px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.header {
  width: 100vw;
  height: fit-content;

  flex-direction: column;
}
#rules {
  padding: 8px;
  min-width: 100px;
  width: fit-content;
  height: fit-content;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  background: #eee;
  color: #3a026a;
  border: 8px solid #dde;
  border-radius: 24px;
}
#rules p code {
  padding: 4px 8px;
  margin-right: 4px;
  text-transform: uppercase;
  background: #ddd;
  border-radius: 8px;
}
#rank {
  min-width: 100px;
  width: fit-content;
  min-height: 100px;
  height: fit-content;
  flex-direction: column;

  padding: 8px;
  background: #eee;
  color: #3a026a;
  border: 8px solid #dde;
  border-radius: 24px;
}
#rank table {
  padding: 16px;
  text-align: left;
  display: flex;
}
#rank td {
  padding: 6px;
}
#rank tr {
  margin-bottom: 24px;
}
#info {
  width: 100%;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  color: tomato;
}
.heart {
  width: 26px;
  height: 26px;
}
#points {
  font-size: 1.5em;
  font-weight: 600;
  text-shadow: 1.5px 1.5px white;
}
#game {
  overflow: hidden;
  width: 1200px;
  height: 300px;
  background: url(../img/bg1.png);
  background-position: center;
  background-size: cover;
  border-radius: 24px;
  animation: sliderBackground infinite linear;

  position: relative;
  cursor: default;
}
#btn-mobile {
  height: 80px;
  width: 80px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  position: absolute;
  top: 40%;
  left: 24px;

  background: rgba(0, 0, 0, 0.1);
  color: rgba(245, 245, 245, 0.8);
  font-size: 1.5em;
  font-weight: 600;

  cursor: pointer;
}
#btn-mobile:hover {
  background: rgba(0, 0, 0, 0.3);
  color: rgba(245, 245, 245, 0.9);
}

#cactus {
  width: 100vw;
  height: 100px;

  position: absolute;
  bottom: 0;
}
.cacto {
  width: 80px;
  height: 100px;
  background: url(../img/cacto0.png);
  background-position: center;
  background-size: cover;

  position: absolute;
  bottom: 20px;
}
#dino {
  width: 80px;
  height: 80px;

  background: url(../img/dino0.png);
  background-position: center;
  background-size: cover;
  filter: drop-shadow(0 0 0.1px black);

  position: absolute;
  left: 80px;
  bottom: 20px;
}
#bottom {
  width: 100%;
  height: 20px;
  background: url(../img/chao.png);
  background-position: center;
  background-size: cover;
  animation: sliderBackground infinite linear;
  position: absolute;
  bottom: 0;
}

footer {
  width: 100vw;
  padding: 24px;
  font-weight: 600;
}

@keyframes sliderBackground {
  from {
    background-position: 0px;
  }
  to {
    background-position: -2400px;
  }
}
